<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Irecommend</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdn.auth0.com/js/lock/10.12.1/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('k0t2DXkuNb4YJ3Zpv2RHkuzDTN0sp1dy', 'irec.eu.auth0.com', {
    auth: {
      redirectUrl: 'http://104.236.61.59:8080/callback',
      responseType: 'code',
      params: {
        state: {{.Idrecommendations}},
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>

</head>
<body>

<div class="container">	
    <h1>Hi {{.Referral.Name}}, </h1>
    <p> Please verify the information stated below </p>
    <div class="form-group">
      <label for="Name">Name</label>
        <input type="text" class="form-control" id="ReferralName1" name="ReferralName" value="{{.Referral.Name}}">
    </div>
    <div class="form-group">
      <label for="Phone">Phone</label>
        <input type="text" class="form-control" id="ReferralPhone1" name="ReferralPhone" value="{{.Referral.Telephone}}">
    </div>
    <div class="form-group">
      <label for="Mail">Mail</label>
        <input type="text" class="form-control" id="ReferralMail1" name="ReferralMail" value="{{.Referral.Mail}}">
    </div>
      <a onclick="lock.show();" class="btn btn-primary btn-lg btn-login btn-block">Fetch my info from LinkedIn</a>
    <form action="/recommendations/confirm/{{.Idrecommendations}}" method="get">
      <button type="submit" class="btn btn-default">I don't have LinkedIn</button>
    </form>

    <div class="col-xs-12">
                <p>{{.Position.Title}}</p>
                <p>{{.Position.Subtitle}}</p>
                <p>{{.Position.Text}}</p>
    </div>

</div>

</body>
</html>