<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Irecommend</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
        <div class="col-xs-12 text-center">
                <p>{{.PositionTitle}}</p>
                <p>{{.PositionSubtitle}}</p>
                <p>{{.PositionText}}</p>
        </div>

      
      <label for="Name">Interested in hearing more?</label>
      
        <div class="form-group">
        <form action="/confirm/interested/{{.Idrecommendations}}" method="get">
          <button type="submit" class="btn btn-default">Yes please!</button>
        </form>
        </div>
        <div class="form-group">
        <form action="/tbd make a new recommendation" method="get">
          <button type="submit" class="btn btn-default">No, but I can recommend someone else</button>
        </form>
        </div>
</div>
  

</body>
</html>
